
.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  height: 50px;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
